@model List<QuieroPizza.Web.Models.ProductoModel>
@{
    ViewBag.Title = "Index";
}

<h2>Productos</h2>

@foreach (var producto in Model) //mostramos la lista de productos creada
{
    <p>@producto.Id @producto.Descripcion</p> //llamamos a Id y Descripcion
}